{:paths ["assets" "src/clojure"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        com.huawei/openstack4j {:mvn/version "1.0.25"}
        ;; com.huawei/openstack4j-core {:mvn/version "1.0.25"}
        ;; com.huaweicloud.sdk/huaweicloud-sdk-vpc {:mvn/version "3.0.19-beta"}
        borkdude/babashka {:mvn/version "0.1.3"}}
 :aliases {:uberjar {:extra-deps {seancorfield/depstar {:mvn/version "1.1.117"}}
                     :exec-fn hf.depstar.uberjar/run
                     :exec-args {:jar "MyProject.jar"
                                 :aot true
                                 :main-class project.core}}
           ;; :main
           ;; {:main-opts ["-m" "babashka.main"]}
           ;; :profile
           #_{:extra-deps
              {com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.4.1"}}
              :extra-paths ["test"]
              :jvm-opts ["-Djdk.attach.allowAttachSelf"]
              :main-opts ["-m" "babashka.profile"]}
           ;; :lib-tests
           #_{:extra-deps {clj-http-lite
                           {:git/url "https://github.com/babashka/clj-http-lite"
                            :sha "f44ebe45446f0f44f2b73761d102af3da6d0a13e"}
                           minimallist {:mvn/version "0.0.1"}}}}}
